<!-- 06/06/2024. -->

{% extends 'base.html' %}

{% block content %}

{% if data.status_code is defined and data.detail is defined %}

<div class="row">
    <div class="col">
        <h2>It's on me... Please contact support, quoting the below message:</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2 class="text-danger fw-bold">{{ data.detail }}</h2>
    </div>
</div>

{% else %}

<script>
	function bindMyInfoJSON() {
		$( '#meBtn' ).on( 'click', function( event ) {
            runAjaxCrossDomain( 'get', '/admin/me', 
                {"X-Expected-Format": APPLICATION_JSON}, '', '' ).
                then( function( response ) {
                    let { status, textStatus, jqXHR } = response;

                    alert( JSON.stringify(status) );
                }).
                catch( function( response ) {
                    let { xhr, error, errorThrown } = response;

                    alert( errorThrown );
                });            

			event.preventDefault();
		});
	};

	$( document ).ready( function() {
        bindMyInfoJSON();
	});
</script>

{% set states = 
    get_ui_states(['user:read', 'user:write', 'admin:read', 'admin:write'], 
    data['user_scopes']) %}

{% set user_read_state_str = states[0] %}
{% set user_write_state_str = states[1] %}
{% set admin_read_state_str = states[2] %}
{% set admin_write_state_str = states[3] %}

<div>   
    <h1 class="h3 mb-3 fw-normal">Home</h1>

    <div class="row">
        <div class="col-2">
            <button type="button" id="meBtn" class="btn btn-link" {{user_read_state_str}}>My Info as JSON</button>
        </div>
        <div class="col-2">
            <form method="GET" action="/admin/me" id="meForm">
                <button type="submit" class="btn btn-primary" {{user_read_state_str}}>My Info</button>
            </form>
        </div>
        <div class="col-2">
            <form method="POST" action="/auth/logout" id="logoutForm">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" id="userUpdateBtn" class="btn btn-link"  
                onclick="location.href='/emp/own-get-update/{{data['user_number']}}'" 
                {{ user_write_state_str }}>Update Own Details</button>
            &nbsp;|&nbsp;
            <button type="button" id="empSearchBtn" class="btn btn-link" 
                onclick="location.href='/emp/search'" {{ admin_read_state_str }}>Search Employees</button>
            &nbsp;|&nbsp;
            <button type="button" id="empAddNewBtn" class="btn btn-link" 
                onclick="location.href='/emp/new'" {{ admin_write_state_str }}>Add a New Employee</button>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}