<!-- 06/06/2024. -->

{% extends 'base.html' %}

{% block content %}

{% if data.status_code is defined and data.detail is defined %}

<div class="row">
    <div class="col">
        <h2>It's on me... Please contact support, quoting the below message:</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2 class="text-danger fw-bold">{{ data.detail }}</h2>
    </div>
</div>

{% else %}

<script>
	function bindMyInfoJSON() {
		$( '#meBtn' ).on( 'click', function( event ) {
            runAjaxCrossDomain( 'get', '/admin/me', 
                {"X-Expected-Format": APPLICATION_JSON}, '', '' ).
                then( function( response ) {
                    let { status, textStatus, jqXHR } = response;

                    alert( JSON.stringify(status) );
                }).
                catch( function( response ) {
                    let { xhr, error, errorThrown } = response;

                    alert( errorThrown );
                });            

			event.preventDefault();
		});
	};

	$( document ).ready( function() {
        bindMyInfoJSON();
	});
</script>

{% set required_scopes = ['user:read'] %}

{% set disabled_str = '' %}
{% if not enable_no_scopes_ui() %}
{%     if not has_required_scopes(required_scopes, data['user_scopes']) %}
{%         set disabled_str = 'disabled' %}
{%     endif %}
{% endif %}

<div>   
    <h1 class="h3 mb-3 fw-normal">Home</h1>

    <div class="row">
        <div class="col-2">
            <button type="button" id="meBtn" class="btn btn-link" {{disabled_str}}>My Info as JSON</button>
        </div>
        <div class="col-2">
            <form method="GET" action="/admin/me" id="meForm">
                <button type="submit" class="btn btn-primary" {{disabled_str}}>My Info</button>
            </form>
        </div>
        <div class="col-2">
            <form method="POST" action="/auth/logout" id="logoutForm">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}