<!-- 06/05/2024. -->

{% extends 'base.html' %}

{% block content %}

<script>
</script>

<div>
    <form method="POST" action="/auth/token" id="loginForm">
        <h1 class="h3 mb-3 fw-normal">Please login</h1>

        {% if message is defined %}
            <h4>{{ message }}</h4>
        {% endif %}

        <div>
            <label for="username">Email address:</label>
            <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com" required value="">
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required value="">
        </div>

        <div>
            <input type="hidden" name="x-expected-format" value="text/html">
        </div>
        <button type="submit">Login</button>
    </form>
</div>

{% endblock %}